@charset "UTF-8";
/*
$masthead-font: "Playfair Display SC", serif;
$heading-font: sans-serif;
$main-font: "Libre Baskerville";
$regular-font-size: 20px;

$heading-color: #404040;
$text-color: #454545;
$link-color: #841212;

@import "theme";
@import "colors";
@import "syntax";
*/
html {
  background-color: whitesmoke; }

body {
  background-color: white; }

h4 {
  margin-top: 20px; }

.container {
  max-width: 800px; }

#x-projnav {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  padding: 9px;
  border-radius: 3px; }

#x-footer {
  padding-top: 14px;
  padding-bottom: 15px;
  margin-top: 5px;
  background-color: #eee;
  border-top-style: solid;
  border-top-width: 1px; }

.highlighted {
  background-color: #FDFF9E; }

#x-pkginfo {
  margin-top: 25px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-bottom: 15px; }

code {
  background-color: inherit;
  border: none;
  color: #222;
  padding: 0; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }

.funcdecl > pre {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

pre .com {
  color: #006600; }

.decl {
  position: relative; }

.decl > a {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 4px;
  padding-right: 4px; }

.decl > a:hover {
  background-color: white;
  text-decoration: none; }

.decl:hover > a {
  display: block; }

a, .navbar-default .navbar-brand {
  color: #375eab; }

.navbar-default, #x-footer {
  background-color: #e0ebf5;
  border-color: #d1e1f0; }

.navbar-default > .active > a,
.navbar-default > .active > a:hover,
.navbar-default > .active > a:focus {
  background-color: #d1e1f0; }

.navbar-default > li > a:hover,
.navbar-default > li > a:focus {
  color: #000; }

.panel-default > .panel-heading {
  color: #333;
  background-color: transparent; }

a.permalink {
  display: none; }

a.uses {
  display: none;
  color: #666;
  font-size: 0.8em; }

h1:hover .permalink, h2:hover .permalink, h3:hover .permalink, h4:hover .permalink, h5:hover .permalink, h6:hover .permalink, h1:hover .uses, h2:hover .uses, h3:hover .uses, h4:hover .uses, h5:hover .uses, h6:hover .uses {
  display: inline; }

@media (max-width: 768px) {
  .form-control {
    font-size: 16px; } }
.synopsis {
  opacity: 0.87; }

.additional-info {
  display: block;
  opacity: 0.54;
  text-transform: uppercase;
  font-size: 0.75em; }

/*
 * Proof Theorem Environments
 * Based on amsthm package: https://www.maths.tcd.ie/~dwilkins/LaTeXPrimer/Theorems.html
 * and https://golem.ph.utexas.edu/wiki/instiki/show/Theorems
 */
body {
  counter-reset: h2 theorem lemma problem proposition conjecture corollary definition example exercise remark note; }

.theorem, .lemma, .proposition, .corollary {
  font-style: italic; }

.label {
  font-style: normal;
  font-weight: bold; }

.label* {
  font-style: normal;
  font-weight: bold; }

.proof .label {
  font-style: italic; }

.proof:after {
  content: " ■";
  text-align: right; }

.label:after {
  content: "."; }

.theorem .label:after {
  content: " " counter(section) "." counter(theorem) ".";
  counter-increment: theorem; }

.lemma .label:after {
  content: " " counter(section) "." counter(lemma) ".";
  counter-increment: lemma; }

.problem .label:after {
  content: " " counter(section) "." counter(problem) ".";
  counter-increment: problem; }

.proposition .label:after {
  content: " " counter(section) "." counter(proposition) ".";
  counter-increment: proposition; }

.conjecture .label:after {
  content: " " counter(section) "." counter(conjecture) ".";
  counter-increment: conjecture; }

.corollary .label:after {
  content: " " counter(section) "." counter(corollary) ".";
  counter-increment: corollary; }

.definition .label:after {
  content: " " counter(section) "." counter(definition) ".";
  counter-increment: definition; }

.example .label:after {
  content: " " counter(section) "." counter(example) ".";
  counter-increment: example; }

.exercise .label:after {
  content: " " counter(section) "." counter(exercise) ".";
  counter-increment: exercise; }

.remark .label:after {
  content: " " counter(section) "." counter(remark) ".";
  counter-increment: remark; }

.note .label:after {
  content: " " counter(section) "." counter(note) ".";
  counter-increment: note; }

h2.label:before {
  margin-right: 1em;
  content: counter(h2) "  ";
  counter-increment: h2;
  counter-reset: h3; }

h3.label:before {
  margin-right: 0.8em;
  content: counter(h2) "." counter(h3) "  ";
  counter-increment: h3; }

/*
 * ED SPECIAL LAYOUTS, modified
 * Copyright (c) 2016 Alex Gil.
 */
.centered {
  text-align: center; }

.larger {
  font-size: 1.6rem; }

.large {
  font-size: 1.4rem; }

.small {
  font-size: 0.8rem; }

.underline {
  text-decoration: underline; }

div.toc {
  margin-bottom: 4rem; }

.post .date,
.post .byline {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: -.5rem; }

/* Footnotes styles*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

.footnotes {
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: .01rem; }

.footnotes .foot-block {
  display: inline-block;
  padding: 0 4rem 0 2rem;
  margin-bottom: .8rem;
  font-style: italic; }

a.footnote {
  padding-left: .1rem;
  font-size: .66rem; }

/*Bibliography styles*/
ol.bibliography {
  list-style-type: none;
  padding-left: 1rem;
  text-indent: -1rem; }
