    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
	<a class="navbar-brand" href="{{ site.baseurl }}/">
	  <img src="{{ site.baseurl }}/static/syzygy.jpg"
	       title="M2 Syzygy, by Courtney Gibbons" style="width:30px; margin-right: 5px"/>
	  <strong>{{ site.title }}</strong> &gt;</a>
	<a class="navbar-brand" href="{{ site.baseurl }}/packages"><strong>Packages</strong> &gt;</a>
	<a class="navbar-brand" href="#"><tt>{{ page.title }}</tt></a>

	<div class="collapse navbar-collapse" id="navb">
	  <ul class="navbar-nav mr-auto">
	  </ul>

	  <form class="navbar-nav navbar-form navbar-right form-inline my-2 my-lg-0" id="x-search" action="./" role="search">
	    <input class="form-control mr-sm-2" id="x-search-query" type="text" name="q" placeholder="Search" />
	  </form>
	</div>

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
	  <span class="navbar-toggler-icon"></span>
	</button>
      </div>
    </nav>
