<div class="sidebar-container">
  <aside id="sidebar-quicklinks" class="sidebar">
    <nav class="sidebar-inner">
      <div class="sidebar-inner-nav">
        <div class="in-nav-outline">
          <div class="outline-container">
            <section class="outline-section">
              <!-- <header> -->
              <!--   <h5 class="outline-heading">Page Outline</h5> -->
	      <!-- </header> -->
              <details id="outline-list">
                <summary><span class="place side">Page Outline</summary>
		<ul class="outline-list">
                  <!-- <li class="outline-item">
                       <a class="outline-link" href="/url#hash">text</a>
                  </li> -->
		</ul>
	      </details>
            </section>
          </div>
        </div>
      </div>
    </nav>
  </aside>
</div>
