<div class="sidebar-container">
  <aside id="sidebar-quicklinks" class="sidebar">
    <!--
	  <button type="button" class="button action backdrop" aria-label="Collapse sidebar">
			<span class="button-wrap"></span>
	  </button>
	  -->
    <nav class="sidebar-inner">
      <div class="sidebar-inner-nav">
        <div class="in-nav-outline">
          <div class="outline-container">
            <section class="outline-section">
              <!-- <header> -->
              <!--   <h5 class="outline-heading">Page Outline</h5> -->
	      <!-- </header> -->
              <details id="outline-list">
                <summary><span class="place side">Page Outline</summary>
		<ul class="outline-list">
                  <!-- <li class="outline-item">
                       <a class="outline-link" href="/url#hash">text</a>
                  </li> -->
		</ul>
	      </details>
            </section>
          </div>
        </div>

        <div class="sidebar-body">
          <!-- <header> -->
          <!--   <h5 class="index-heading">Package Index</h5> -->
          <!-- </header> -->
          <details open>
            <summary><span class="place side">Package Contents</summary>
            <ol class="index-list">
              <!-- <li class="index-item section">
		   <em>
                     <a href="/url" aria-current="page">text</a>
		   </em>
              </li>
              <li class="index-item toggle">
		<details open="">
                  <summary>Properties</summary>
                  <ol>
                    <li class="index-item">
                      <a href="/url"><code>text<code></a>
                    </li>
                  </ol>
		</details>
              </li> -->
            </ol>
	  </details>
        </div>
      </div>
    </nav>
  </aside>

  <div class="outline-container">
    <aside class="outline">
      <nav>
        <div class="outline-container">
          <section class="outline-section">
            <!-- <header> -->
            <!--   <h5 class="outline-heading">Page Outline</h5> -->
            <!-- </header> -->
            <span class="place side">Page Outline</span>
            <ul class="outline-list">
              <!-- <li class="outline-item">
                <a class="outline-link" href="/url#hash">text</a>
              </li> -->
            </ul>
          </section>
        </div>
      </nav>
    </aside>
  </div>
</div>
