<div class="sidebar-container">
  <aside id="sidebar-quicklinks" class="sidebar">
    <!--
	  <button type="button" class="button action backdrop" aria-label="Collapse sidebar">
			<span class="button-wrap"></span>
	  </button>
	  -->
    <nav class="sidebar-inner">
      <!--
  		<header class="sidebar-actions">
  		  <section class="sidebar-filter-container">
  		    <div class="sidebar-filter">
  		      <label id="sidebar-filter-label" class="sidebar-filter-label" for="sidebar-filter-input">
  			<span class="icon icon-filter">
  			</span>
  			<span class="visually-hidden">Filter sidebar</span>
  		      </label>
  		      <input id="sidebar-filter-input" autocomplete="off" class="sidebar-filter-input-field false" type="text" placeholder="Filter" value="">
  		      <button type="button" class="button action has-icon clear-sidebar-filter-button">
  			<span class="button-wrap">
  			  <span class="icon icon-cancel">
  			  </span>
  			  <span class="visually-hidden">Clear filter input</span>
  			</span>
  		      </button>
  		    </div>
  		  </section>
  		</header>
      -->

      <div class="sidebar-inner-nav">
        <div class="in-nav-outline">
          <div class="outline-container">
            <section class="outline-section">
              <!-- <header> -->
              <!--   <h5 class="outline-heading">Page Outline</h5> -->
	      <!-- </header> -->
              <details>
                <summary><span class="place side">Page Outline</summary>
		<ul class="outline-list">
                  <!-- <li class="outline-item">
                       <a class="outline-link" href="/url#hash">text</a>
                  </li> -->
		</ul>
	      </details>
            </section>
          </div>
        </div>

        <div class="sidebar-body">
          <!-- <header> -->
          <!--   <h5 class="index-heading">Package Index</h5> -->
          <!-- </header> -->
          <details open>
            <summary><span class="place side">Package Contents</summary>
            <ol class="index-list">
              <!-- <li class="index-item section">
		   <em>
                     <a href="/url" aria-current="page">text</a>
		   </em>
              </li>
              <li class="index-item toggle">
		<details open="">
                  <summary>Properties</summary>
                  <ol>
                    <li class="index-item">
                      <a href="/url"><code>text<code></a>
                    </li>
                  </ol>
		</details>
              </li> -->
            </ol>
	  </details>
        </div>
      </div>
    </nav>
  </aside>

  <div class="outline-container">
    <aside class="outline">
      <nav>
        <div class="outline-container">
          <section class="outline-section">
            <!-- <header> -->
            <!--   <h5 class="outline-heading">Page Outline</h5> -->
            <!-- </header> -->
            <section class="place side">Page Outline</section>
            <ul class="outline-list">
              <!-- <li class="outline-item">
                <a class="outline-link" href="/url#hash">text</a>
              </li> -->
            </ul>
          </section>
        </div>
      </nav>
    </aside>
  </div>
</div>
