---
layout: default
---

<div id="x-projnav">
  <span>
    <a id="pkgname" href="#Macaulay2Doc"></a>
    <span class="text-muted">::</span>
    <a id="headline" href="#Macaulay2Doc"></a>
  </span>
  <!--
  <span style="float:right" >
    <a id="pkg-index">index</a>
    <span class="text-muted">|</span>
    <a id="pkg-toc">toc</a>
  </span>
  -->
</div>

<div class="main-wrapper">
{% if page.layout == "entry" %}
  {%- include sidebar.html -%}
{%- endif %}

  <main class="main-content" id="main">
    <article class="main-page-content">
{{ content }}
    </article>
  </main>
</div>
