---
layout: default
---

<div id="x-projnav">
  <span>
    <!--
    <a href="{{ site.baseurl }}/packages/">Packages</a>
    <span class="text-muted">&gt;</span>
    -->
    <a id="pkgname" href="#Macaulay2Doc">Macaulay2Doc</a>
    <span class="text-muted">::</span>
    <a id="headline" href="#Macaulay2Doc::packages provided with Macaulay2">packages provided with Macaulay2</a>
  </span>
  <span style="float:right" >
    <a id="pkg-index">index</a>
    <span class="text-muted">|</span>
    <a id="pkg-toc">toc</a>
  </span>
</div>

<div class="main-wrapper">
{% if page.layout == "entry" %}
  {%- include sidebar.html -%}
{%- endif %}

  <main class="main-content" id="main">
    <article class="main-page-content">
{{ content }}
    </article>
  </main>
</div>
