---
layout: default
---

<div class="clearfix" id="x-projnav">
  <a href="{{ site.baseurl }}/packages/">Packages:</a>
  <tt>{{ page.title }} v{{ page.version }}</tt>
  <span>
<!--  nextButton tag, prevButton tag, forwardButton tag, backwardButton tag, upButton tag, topButton tag,
      indexButton(htmlDirectory, indexFileName), tocButton(htmlDirectory, tocFileName), homeButton -->
    <span class="text-muted">|</span> <a href="#pkg-index">Index</a>
    <span class="text-muted">|</span> <a href="#pkg-files">Files</a>
    <span class="text-muted">|</span> <a href="#pkg-subdirectories">Directories</a>
  </span>
</div>

<div class="package">
  {{ content }}
</div>
